/* =========================
      CABEÇALHO SEPARADO
========================= */
.header-noel {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}

.noel-foto {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
}

.header-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.titulo-form {
    font-size: 26px;
    margin: 0;
    font-weight: 700;
}

.preco-info {
    font-size: 15px;
    margin: 3px 0 0;
    font-weight: 500;
    opacity: 0.8;
}

/* =========================
      ÁREA DO FORMULÁRIO
========================= */
.form-container {
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.label {
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    display: block;
}

.input {
    width: 100%;
    padding: 12px;
    margin-top: 4px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
}

