/* GERAL --------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* MOLDURA ------------------------------------------- */

.background-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1080px;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    background: url('/static/moldura.webp') no-repeat center;
    background-size: contain;
    aspect-ratio: 1080 / 1920;
}

/* ÁREA DO FORMULÁRIO ------------------------------- */

/* Área exata proporcional 960 x 1480 */
.form-wrapper {
    position: absolute;
    z-index: 2;
    width: 89%; /* 960 / 1080 */
    height: 77%; /* 1480 / 1920 */
    top: 11%;    /* centralização vertical proporcional */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* a área que rola */
.scroll-area {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background: transparent; /* sem bloco */
}

/* FORMULÁRIO ---------------------------------------- */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.label {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.input, textarea, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
}

button {
    margin-top: 10px;
    padding: 14px;
    background: crimson;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}
