/* MOLDURA DE NATAL */
.background-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("{{ url_for('static', filename='moldura_natal.webp') }}");
    background-size: cover;     /* cobre a tela inteira */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;                /* FICA ATRÁS DO FORMULÁRIO */
}

