/* ----- AJUSTES EXCLUSIVOS PARA CELULAR ----- */
@media (max-width: 600px) {

    .background-frame {
        height: 100vh;
        width: auto;
        background-size: contain;
    }

    .form-wrapper {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .scroll-area {
        width: 75%;              /* encaixa dentro da moldura no celular */
        height: 68vh;            /* mantém área de rolagem proporcional */
        margin-top: 14vh;        /* não invade o rosto do Noel */
        margin-bottom: 5vh;
        padding: 12px;
        border-radius: 10px;
    }

    body {
        overflow: hidden; /* continua mantendo moldura fixa */
    }
}
