amagiadopapainoel1-tech
papai-noel-reservas

Type / to search
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Files
Go to file
t
static
templates
agenda.html
atendimentos.html
erro.html
formulario.html
index.html
qualquer.html
sucesso.html
Agenda_Papai_Noel_Atualizada.xlsx
Procfile
README.md
app.py
requirements.txt
reservas_pix_estatico.py
teste_google.py.txt
papai-noel-reservas
/templates/
amagiadopapainoel1-tech
amagiadopapainoel1-tech
Update index.html
b23bb49
 · 
19 hours ago
Name	Last commit message	Last commit date
..
agenda.html
Add files via upload
2 days ago
atendimentos.html
Add files via upload
2 days ago
erro.html
Add files via upload
2 days ago
formulario.html
Add files via upload
2 days ago
index.html
Update index.html
19 hours ago
qualquer.html
Add files via upload
2 days ago
sucesso.html
Add files via upload
2 days ago
