<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página Qualquer</title>
    <style>
        body {
            background: #fafafa;
            font-family: Arial;
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            color: #c0392b;
        }
    </style>
</head>
<body>

<h1>Esta é a página QUALQUER</h1>
<p>Se você está vendo isso, o Flask está encontrando a pasta templates!</p>

</body>
</html>
